<!-- Mapa de Google -->
<div class="google-maps">
    <iframe id="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6708.14612995968!2d-71.2129350399968!3d-32.79032188839992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689cb5bec5a147b%3A0x4d01f0d5ebc1cc4d!2sMichimalongo%20526%2C%202290208%20La%20Calera%2C%20Calera%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1705626457010!5m2!1ses-419!2scl"
      width="100%" height="100%" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div> 
  
  <!-- Estilos personalizados para el mapa -->
  <style>
    /* Estilo para el contenedor del mapa */
    .google-maps {
      display: flex;
      justify-content: center;  /* Centra el mapa horizontalmente */  
      align-items: center;      /* Centra el mapa verticalmente */  
      width: 100%;              /* Asegura que ocupe el 100% del ancho */
      height: auto;             /* Permite que la altura se ajuste automáticamente */
      background-color: #ffffff; /* Color de fondo para mejor visibilidad */
      padding: 10px;            /* Añadimos un poco de padding para separación */
    }
  
    /* Ajustes para el iframe del mapa */
    #google-maps {
      width: 60%; /* Establece el ancho al 60% de la página */
      aspect-ratio: 18 / 9;  /* Mantiene el aspecto rectangular */
      height: auto;     /* Ajusta la altura automáticamente */
      border: 1px solid #ddd; /* Borde alrededor del mapa (opcional) */
      margin-left: auto;  /* Centra el mapa horizontalmente */
      margin-right: auto; /* Centra el mapa horizontalmente */
      display: block;     /* Asegura que el iframe se comporte como un bloque */
      border-radius: 15px; /* Bordes redondeados */
  }
  
  
    /* Título del mapa */
    .map-title {
      position: absolute;   
      top: 20px;
      font-size: 24px;
      color: black;    
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente para el título */
      padding: 10px;
      border-radius: 5px;
      font-weight: bold; 
    }
  
    /* Ajustes responsivos para pantallas pequeñas */
    @media (max-width: 768px) {
      .google-maps {
        padding: 10px;  /* Menos padding en pantallas pequeñas */
      }
  
      #google-maps {
        max-width: 100%; /* El mapa ocupa todo el ancho en pantallas más pequeñas */
        height: 250px;  /* Define una altura fija para pantallas más pequeñas */
      }
    }
  
    @media (max-width: 480px) {
      /* Ajuste adicional para pantallas más pequeñas */
      #google-maps {
        height: 200px;  /* Reduce la altura en pantallas muy pequeñas */
      }
    }
  </style>